---
layout: default
title: Chris' Portfolio
---
<div class="container" id="index">

  <div id="home">
    <div class="content my-auto" >
    <h5 class="green" data-aos="fade-down" data-aos-once="true" data-aos-duration="1500">Hello, world! My name is </h5>
      <div data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">
        <h1 class="px-sm-5 pt-3" >Christopher Haas.</h1>
      <h1 class="">I like to <span class="red">build</span> things.</h1>
      <p class="short-bio">I am a Full-Stack Software Engineer and Web Developer with a dual degree in Information Systems and Civil & Environmental Engineering from Carnegie Mellon University.</p>
      <br><br>
      <a href="mailto:chaasdev@gmail.com" class="btn btn-outline-success" ><h5>REACH OUT</h5></a>
      </div>
      
    </div>
    
  </div>
  <div id="bio" >
    <div class="content">
      <div data-aos="fade-up" data-aos-once="true" data-aos-duration="800">
        <h5 class="section-title" ><span class="green ">0</span> BIO </h5>
        <hr>
      </div>
      
      <div class="row">
        <div class="col-12 col-lg-5 order-lg-0 text-center mb-4" data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
          
          <img src="assets/images/aboutChris.jpg" width="100%" class="aboutImg img-responsive rounded mx-auto my-auto">

        </div>
        <div class="col-12 col-lg-7 order-lg-1" data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
          <p>Hello! My name is Chris, and I am a recent grad from <a href="https://cmu.edu"  target="_blank">Carnegie Mellon University</a>. 
            I graduated with a dual degree in Information Systems and Civil &amp; Environmental
            Engineering with a minor in Business Administration. During my time at CMU, I was elected as a  
            senior captian of Carnegie Mellon's Varsity football team and finished with a 3.47 GPA. Currently, I am 
            the Chief Technology Officer and a founding memeber of <a href="https://www.oldsaltcoffee.com" target="_blank">Old Salt Coffee Company</a>,
            which has been in operation since September 2020. </p>
            <p>If I'm not in my office, you can find me at a rock climbing gym, on a hike, or at a
            local coffee shop working on various projects. I love the outdoors and try to get out as
            much as possible. That involves anything from snowboarding to scuba diving, and anywhere in 
            between.</p>
            <p>These are my go-to tools:</p>
            <div class="row mx-2">
              <ul class="col-6">
                <li>Ruby on Rails</li>
                <li>HTML &amp; (S)CSS</li>
                <li>Javascript</li>
                <li>Liquid</li>
              </ul>
              <ul class="col-6">
                <li>Swift</li>
                <li>Python</li>
                <li>PostgreSQL</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="background">
    <div class="content" data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
      <h5  class="section-title"><span class="green">1</span> BACKGROUND</h5>
      <hr>
     <div class="my-4" >

            
        <section class="wrapper" >
          <ul class="tabs">
            {% for exp in site.work%}
            <li {%if forloop.first %} class="active" {%endif%}> {{exp.short}}</li>
            {%endfor%}
          </ul>
      
          <ul class="tab__content">
            {% for exp in site.work%}
            <li {%if forloop.first %} class="active" {%endif%}>
              <div class="content__wrapper">
                <h3>{{exp.name}} <a href="{{exp.link}}" target="_blank">@{{exp.company}}</a></h3>
                <h6>{{exp.start}} - {{exp.end}} </h6>
                <div class="exp-desc">
                  <p> {{ exp.content | markdownify }}</p>
                </div>
              </div>
            </li>
            {%endfor%}
          </ul>
        </section>
      </div>
    </div>
  </div>


  

  <div id="projects">
    <div class="content">
      <div data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
        <h5  class="section-title"><span class="green">2</span> PROJECTS</h5>
        <hr>
      </div>
      
      <div class="featured">
       
      {%for feature in site.featured%}
        {% assign mod = forloop.index | modulo: 2 %}
          <div class="feature-card" data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
            {{feature.vid}}
            <div class="feature-desc {% if mod == 0 %} left {%endif%}">
              <div class="small-feature"><h6>Featured Project</h6></div>
              <div class="feature-title"><h3 >{{feature.title}} <span class="feature-link"><a href="{{feature.link}}" target="_blank"><i class="fas fa-external-link-square-alt"></i></a></span></h3></div>
              <div class="feature-content {% if mod == 0 %} left-content {%endif%}">
                {{feature.content}}

                <div class="feature-skills row justify-content-around">
              
                  {% for skill in feature.skills%}
                  <div class="col-2 red">{{skill}}</div>
                  {%endfor%}
  
                </div>
              
              </div>

            </div>
          </div>

      {%endfor%}

        
      </div>
      <div data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
        <h4 class="section-title text-center">Other Projects</h4>
        <hr>
        <div class="container-fluid">
          <div class="row justify-content-start">
  
            {% for project in site.projects reversed%}
  
            <div class="project-col col-12 col-lg-6 col-xl-4 " data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
              <div class="project">
                <div class="icons">
                  <div class="row mx-1 my-2">
                    <div class="col-4"><i class="fas fa-code-branch project-icon"></i></div>
                    <div class="col-5"></div>
                    <div class="col-3">{% if project.link != nil %}<a href="{{project.link}}"  target="_blank"><i class="fas fa-external-link-square-alt"></i></a>{%endif%}</div>
                  </div>
                </div>
                <div class="header">
                  <h3>{{project.title}}</h3>
                </div>
                <div class="body">
                  <p>
                    {{project.content | markdownify }}
                  </p>
                  <br><br>
                </div>
                <div class="foot">
                  <table class="project-table">
                    <tr>
                      {% for skill in project.skills%}
                      <td class="red">{{skill}}</td>
                      {%endfor%}
                      <td></td>
                      
                    </tr>
                  </table>
                </div>
              </div>
            </div>
  
            {% endfor %}
  
          </div>
  
        </div>
      </div>
      
        
     </div>
  
  </div>
  
  <div id="contact">
    <div class="content" data-aos-once="true"  data-aos="fade-up" data-aos-duration="1000">
      <h5  class="section-title"><span class="green">3</span> CONTACT</h5>
      <hr>
      <p class="contactDesc about">I am currently on the hunt for Software Engineering roles. Whether you have a question about a project, are actively hiring, or just want to say hi, please feel free to reach out! </p>
      <br>
       <div class="about"><a href="mailto:chaasdev@gmail.com" class="btn btn-outline-success" ><h5>SEND A MESSAGE</h5></a></div>
     
     </div>
  
  </div>

</div>
