body{
	font-family: Avenir, Arial, sans-serif;
	background-color: #FBFBFB;
	margin:0;
	padding:0;
}

*{

}

h1{
	font-size: 350%;

	}

a{
	
	color:#FBFBFB;
	text-decoration: none;
}

a:hover{
	color: black;
}



#headerImage{
	padding-top: 20px
}

#header{
	display: block;
	
	background-color: #343434; 
	padding-top: 1px;
	padding-bottom: 1px;
	color: #FBFBFB;
	text-align: center;
	
}

#main{


	text-align: center;
	margin:10;
	padding:10;

}

#list{

	color: #FBFBFB;
	font-size: 175%;
	background-color: #343434;
	text-align: center;
	margin-left:40%;
	margin-right: 40%;
	padding-top: 3%;
	padding-bottom: 3%;

	
}