body{
	font-family: Avenir, Arial, sans-serif;
	background-color: gray;
}

h1{
	font-size: 350%;

	}

a{
	color:black;
}

a:hover{
	color: white;
}

#headerImage{
	padding-top: 20px
}

#header{
	
	
	background-color: #343434; 
	padding-top: 1px;
	padding-bottom: 1px;
	color: #F5F5F5;
	text-align: center;
	
}

#main{


	text-align: center;

}