<div class="footer container-fluid text-center">

  <div class="footer-table row justify-content-around">
    <div class="col-3 text-center"><a href="https://github.com/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-github-square"></i></a></div>
    <div class="col-3 text-center"><a href="https://linkedin.com/in/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
    <div class="col-3 text-center"><a href="https://instagram.com/christopherhaas" class="sharing" target="_blank"><i class="fab fa-instagram"></i></a></div>
    <div class="col-3 text-center"><a href="https://www.youtube.com/channel/UCaQEQPNjmyPsFN6Fir0obgQ" class="sharing" target="_blank"><i class="fab fa-youtube-square"></i></a></div>
  </div>


  <a href="https://github.com/christopherwhaas/christopherwhaas.github.io" target="_blank"><h5>Designed & Created by Chris Haas</h5></a>
   <a href="https://marketplace.visualstudio.com/items?itemName=SmukkeKim.theme-setimonokai" target="_blank"><h6 class="d-inline">Color Inspiration</h6></a>
   <small>|</small>
  <a href="https://brittanychiang.com" target="_blank"><h6 class="d-inline">Layout Inspiration</h6></a>
  <br>
  <br>
  <a href="/" target="_blank"><h6>© Chris Haas 2020-2021</h6></a>
  

  

</div>
