<div class="footer text-center">

  <div class="footer-table">
    <div class="cell"><div><a href="https://github.com/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-github-square"></i></a></div></div>
    <div class="cell"><div><a href="https://linkedin.com/in/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-linkedin-in"></i></a></div></div>
    <div class="cell"><div><a href="https://instagram.com/christopherhaas" class="sharing" target="_blank"><i class="fab fa-instagram"></i></a></div></div>
    <div class="cell"><div><a href="https://www.youtube.com/channel/UCaQEQPNjmyPsFN6Fir0obgQ" class="sharing" target="_blank"><i class="fab fa-youtube-square"></i></a></div></div>
  </div>


  <a href="https://github.com/christopherwhaas/christopherwhaas.github.io" target="_blank"><h6>Created by Chris Haas</h6></a>

</div>