<nav class="leafr navbar navbar-expand-lg navbar-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand " href={{"/leafr"  | relative_url }}><img id="logo" src={{"/assets/images/leafrLogo.png"  | relative_url }} alt="Leafr Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href={{"/leafr" | relative_url }}><h6>HOW IT WORKS</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{"/leafr/seasons" | relative_url }}><h6>SEASONS</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{"/leafr/privacy" | relative_url }}><h6>PRIVACY</h6></a>
        </li>
     
      </ul>
    </div>
  </div>
</nav>