<div class="right-bar">

  <div class="info" data-aos="fade-up" data-aos-duration="2000">
    <div class="container-fluid p-0">

      <a class="sideways" href="mailto: chaas@andrew.cmu.edu">chaas@andrew.cmu.edu</a>
      <br>
      <hr class="hr-break">
      <a href="https://github.com/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-github-square"></i></a>
      <a href="https://linkedin.com/in/christopherwhaas" class="sharing" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://instagram.com/christopherhaas" class="sharing" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCaQEQPNjmyPsFN6Fir0obgQ" class="sharing" target="_blank"><i class="fab fa-youtube-square"></i></a>
      <div class="vertical-2"></div>
    </div>

    
  </div>
  
</div>