---
---

@import 'bootstrap/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');







//ACCENT FONT font-family: 'Roboto Mono', monospace;

// DARK: #040709
// BLACK: #282C34
// GREEN: #00AF00
// RED: #FF2164
// YELLOW: #EDD566
// BLUE: #00ABE4
// WHITE: #D8D8D8

.green{
  color: #00AF00;
}

.yellow{
  color: #EDD566;
}

.red {
  color: #FF2164;
}

.blue {
  color: #00ABE4;
}

html{
  
}

body{
  font-family: "Raleway", sans-serif;
  color: #D8D8D8;
  background-color: #282C34;
  
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

h5, h6{
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
}

strong {
  color: #00AF00;
}

p{
  font-family: "Raleway", sans-serif;
}



// ############## LAYOUT ###################

.wrapper {
  width: 100%;
}

.left-buffer, .right-bar{
  width: calc( (3 / 17) * 100vw );
  position: fixed;
  height: calc(100vh - 50px);
  top: 50px;
  margin: 0;
  padding: 0;
}

.right-bar{
  left: calc( (14 / 17) * 100vw );
  z-index: 1;
}
.main {
  position: relative;
  left: calc( (3 / 17) * 100vw );
  width: calc( (11 / 17) * 100vw );
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 680px) {
  .left-buffer, .right-bar{
    display: none;
  }

  .main{
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 575px){
  .wrapper{
    margin: 0 10px;
    width: auto;
    max-width:100%;
  }
}

//###################### NAVBAR ################################

body {
  padding-top: 50px;
  
}

header {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

a {
  color: #00ABE4;
  text-decoration: none;
}

a:hover {

  color: #FF2164;
  text-decoration: none;

}

.navbar {
  background-color: #282C34;

}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

button:active {
  outline: none !important;
  box-shadow: none !important;
}

a:focus{
  outline: 0 !important;
  box-shadow: none !important;
}

a:active{
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus{

}

.navbar-nav{
  // margin: 0 auto;
}

.nav-link:hover h6, .navbar-brand:hover h5{
  color: #00ABE4;
}

.nav-up {
  top: -50px; // same as header height. use variables in LESS/SASS
}

.nav-item .btn-outline-success:hover {
  border-color: #00ABE4;
  background-color: #00AF0000;
  color: #00ABE4;
}


#logo {
  
  height: 27px;
  margin: 0 0 0 10px;

  padding: 0;
}

.navbar-brand{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


//###################### INDEX ################################


#home, #bio, #background, #projects, #contact {
  min-height: 100vh;
  width: 100% !important;
  display: flex;
  align-items: center;
}

.content {
  margin: 3% 0;
  width: 100%;
}

.section-title {
  font-size: 200%;
}


// HOME

 .about{
   
   margin: 30px 30px 0 30px;
 }


 //BIO

 .aboutImg{
   z-index: 10;
   border: 1px solid #00AF00;
   max-height: 300px;
   max-width: 300px;
   object-fit: cover;
   object-position: top;
 }

 

 #bio ul, .exp-desc ul{
   list-style-type: none;
 }

 #bio li::before, .exp-desc li::before{
  margin: 0px 10px 0px -20px;
   content: "\25B7";
   color: #EDD566;
   font-size: 80%;
   
 }
 #bio li{
   font-family: "Roboto Mono", monospace;
   font-size: 90%;
 }

 // Background

 .exp-desc{
   text-align: left;
   padding: 0;
   font-size: 100%;

   
 }

 @media only screen and (min-width: 1200px){
  .exp-desc{
    padding: 0 30px;
    
  }
 }

 .exp-desc ul li{
  margin: 10px 0;
  list-style-position: outside;
 }
 //Project

  //Featured Projects

  .featured{
    width: 100%;
    margin: 5% 0 !important;
  }

.feature-video {
  z-index: 1;
  width: 100%;
  left: 0;
  overflow:hidden;
}
 

 .feature-card {
  height: 100%;
  border-radius: 5px;
  margin: 7% 0;
 }

 .feature-desc{
   align-items: center;
   border-radius: 5px;
   text-align: end;
   height: 100%;
   left:35%;
   width: 65%;
   height: 100%;
   z-index: 10;
 }

 .feature-desc-left{
  align-items: center;
  border-radius: 5px;
  text-align: start;
  width: 65%;
  height: 100%;
  z-index: 10;
}

 .feature-wrapper {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   margin: auto 0;
 }

 .feature-main {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   width: 75%;
   left: 25%;
   overflow: hidden;
 }

 .feature-main-left {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  left: 0;
  overflow: hidden;
}

 .feature-background {
   background-color: #282c34dc;
   height: 100%;
   position: absolute;
   top:0;
   left: calc(100% - 330px);
   width: 331px;
 }

 .feature-background-left {
  background-color: #282c34dc;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  width: 331px;
}

 .small-feature{
   color: #00ABE4;
   h6 {
     font-size: 80% !important;
   }
   padding-right: 15px;
   padding-left: 15px;

 }

 .feature-title{
   h3{
    font-size: 140% !important;
    
   }
   padding-right: 15px;
   padding-left: 15px;
   
 }

 .feature-content{
   border-radius: 5px;
   background-color: #040709d9;
   font-size: 85%;
   padding: 10px 15px 10px 15px;
   margin: 20px 0;
 }

 .feature-skills{
  font-size: 70%;
 }

 .feature-link a{
   color: #00AF00;
   font-size: 30px;
   margin: 10px 0;
   padding: 0 15px;
 }
 .feature-link a:hover{
  color: #D8D8D8;
  
}


  .featured-table {
    border-collapse: collapse;
    margin-left: auto;
    width: 300px;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
  }


  .featured-table-left {
    border-collapse: collapse;
    width: 300px;
    text-align: start;
    padding: 12px;
    margin-top: 10px;
    margin-left: 15px;
  }

  

  // .feature-desc:hover, .feature-desc-left:hover{
  //   opacity: 0.3;

  // }



 @media only screen and (max-width: 865px) {
  
  .feature-main {
    width: 98%;
    left: 2%;
    transition: 0.3s ease-in-out;
  }

  .feature-main-left {
    width: 98%;
    left: 0;
    transition: 0.3s ease-in-out;
  }

   
 }

 @media only screen and (max-width: 828px) {

  .feature-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: #040709af;
    transform: translateY(-25%);
    border-radius: 5px;
  }
  .feature-background, .feature-background-left{
    display: none;
  }

  .feature-main, .feature-main-left{
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(0);
  }

  .feature-desc, .feature-desc-left{
    border-radius:5px;
    width: 100%;
    height: 50%;
    left: 0;
    
  }

  .feature-content {
    border-radius: 0;
  }
  
 }



 .project-col{
  padding: 5px;
 }

 @media only screen and (min-width: 992px){
  .project{
    min-height: 405px !important;
   }
 }

 @media only screen and (min-width: 1200px){
  .project{
    min-height: 437px !important;
   }
 }
 
 .project{
   position: relative;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #040709c5;
   

   h3{
     font-size: 130%;
   }
   p{
     font-size: 90%;
   }
 }

 .icons .row .col-3{
  //  align-content: flex-end;
   text-align: end;
   vertical-align: bottom;
 }

 .icons a{
   color: #D8D8D8;
   font-size: 20px;
 }

 .icons a:hover{
  color: #00ABE4;
}

 .project-icon{
   font-size: 40px;
   color: #00AF00;
 }


  .project-col:hover{
    transition: 0.2s ease-in-out;
    padding-top: 1px;
    padding-bottom: 9px;

    .project{
      background-color: #040709de;
      
    }
     
  }

  .project-table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    padding: 12px;
  }

 

 .foot{
   font-family: "Roboto Mono", monospace;
   font-size: 75%;
   vertical-align: bottom;
   position: absolute;
   width: calc(100% - 15px);
   bottom: 30px;
   left: 15px;
 }



 // Contact

 .contactDesc {
   font-size: 120%;
 }




// ###################### Right ##############################
.right-bar {
  
}

.info{
  position: absolute;
  width: 50px;
  left: calc( ((3 / 17) * 100vw )/2 - 25px);
  bottom: 0;
  
}

.sideways {
  font-family: "Roboto Mono", sans-serif;
  writing-mode: vertical-rl;
  text-orientation: mixed;  
  position: relative;
  left: 13px;
}

.info a {
  color: #D8D8D8;
  text-decoration: none;
}

.info a:hover {

  color: #FF2164;
  text-decoration: none;

}

.sharing{
  position: relative;
  left: 11.875px;
  font-size: 30px;

}

.hr-break {
  stroke-width: 2px ;
  margin: 10px auto;
}
.vertical-2 {
  position: relative;
  margin-top: 10px;
  top: 0;
  left: 25px;
  width: 0;
  height: calc(100vh * 1/4);
  border-left: #D8D8D8 solid 0.5px;
}


// ####################### TABS 


.tabs{
  margin: 0 auto;
  padding-left: 0;
	display: table;
	table-layout: fixed;
	width: 80%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	
	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 3px 25px 3px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: #D8D8D8;
		
		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}
		
		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
      color: #D8D8D870;
		}
		
		&.active{
      color: #00AF00;
      
			
			&:before{
				transition-duration: .5s;
				background-color: #040709c5;
				-webkit-transform: translateY(0);
        transform: translateY(0);
			}
		}
	}
}

@media only screen and (max-width: 464px){
  .tabs li{
    font-size: 75% !important;
  }

  .tab__content .content__wrapper{
    padding: 20px !important;

    h3 {
      font-size: 110%;
    }
  }
}

.tab__content{
  margin: 10px auto;
  background-color: #040709c5;
	position: relative;
	width: 80%;
	border-radius: 0 0 5px 5px;
	
	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		display: none;
		list-style: none;
		
		.content__wrapper{
			text-align: center;
			border-radius: 0 0 5px 5px;
			width: 100%;
			padding: 45px 25px 40px 25px;
			
		}
	}
}

.content__wrapper{
	h3{
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
    font-weight: 200 !important;
    font-size: 130%;
	}
	
	img{
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

@media only screen and (max-width:770px){
  .tabs, .tab__content{
    width: 100%;
  }

  
}



// ###################### FOOTER



.footer a h5{
  font-size: 85%;
  margin-top: 3%;
  margin-bottom: 10px;
}

.footer a h6{
  font-size: 65%;
  margin-bottom: 3%;
}

.footer-table a{
  color:#D8D8D8;
  left: 0 !important;
}
.footer-table a:hover{
  color: #FF2164;
}

small{
  font-size: 50%;
  margin: 0 6px;
}

@media only screen and (min-width:680px){

  .footer-table {
    display: none;
  }
}

// ############### BACKGROUND

#animation{
  position: fixed;
  background-color: #282C34;
  z-index: -999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

}