---
---


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');







//ACCENT FONT font-family: 'Roboto Mono', monospace;

// DARK: #040709
// BLACK: #282C34
// GREEN: #00AF00
// RED: #FF2164
// YELLOW: #EDD566
// BLUE: #00ABE4
// WHITE: #D8D8D8

.green{
  color: #00AF00;
}

.yellow{
  color: #EDD566;
}

.red {
  color: #FF2164;
}

.blue {
  color: #00ABE4;
}

html{
  
}



body{
  font-family: "Raleway", sans-serif;
  color: #D8D8D8;
  background-color: #282C34;
  
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

h5, h6{
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
}

strong {
  color: #00AF00;
}

p{
  font-family: "Raleway", sans-serif;
}



// ############## LAYOUT ###################

.wrapper {
  width: 100%;
}

.left-buffer, .right-bar{
  width: calc( (3 / 17) * 100vw );
  position: fixed;
  height: calc(100vh - 50px);
  top: 50px;
  margin: 0;
  padding: 0;
}

.right-bar{
  left: calc( (14 / 17) * 100vw );
  z-index: 1;
}
.main {
  position: relative;
  left: calc( (3 / 17) * 100vw );
  width: calc( (11 / 17) * 100vw );
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 680px) {
  .left-buffer, .right-bar{
    display: none;
  }

  .main{
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 575px){
  .wrapper{
    margin: 0 10px;
    width: auto;
    max-width:100%;
  }
}

//###################### NAVBAR ################################

body {
  padding-top: 50px;
  
}

header {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

a {
  color: #00ABE4;
  text-decoration: none;
}

a:hover {

  color: #FF2164;
  text-decoration: none;

}

.navbar {
  background-color: #282C34;

}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

button:active {
  outline: none !important;
  box-shadow: none !important;
}

a:focus{
  outline: 0 !important;
  box-shadow: none !important;
}

a:active{
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus{

}

.navbar-nav{
  // margin: 0 auto;
}

.nav-link:hover h6, .navbar-brand:hover h5{
  color: #00ABE4;
}

.nav-up {
  top: -50px; // same as header height. use variables in LESS/SASS
}


.btn-outline-success {
  border-color: #00AF00;
  color: #00AF00;
}

.btn-outline-success:hover {
  background-color: #00AF00;
  color: #282C34;
  font-weight: bolder;
}

.nav-item .btn-outline-success:hover {
  border-color: #00ABE4 !important;
  background-color: #00AF0000 ;
  color: #00ABE4;
}


#logo {
  
  height: 27px;
  margin: 0 0 0 10px;

  padding: 0;
}

.navbar-brand{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}



  
  // ###################### Right ##############################
  .right-bar {
    
  }
  
  .info{
    position: absolute;
    width: 50px;
    left: calc( ((3 / 17) * 100vw )/2 - 25px);
    bottom: 0;
    
  }
  
  .sideways {
    font-family: "Roboto Mono", sans-serif;
    writing-mode: vertical-rl;
    text-orientation: mixed;  
    position: relative;
    left: 13px;
  }
  
  .info a {
    color: #D8D8D8;
    text-decoration: none;
  }
  
  .info a:hover {
  
    color: #FF2164;
    text-decoration: none;
  
  }
  
  .sharing{
    position: relative;
    left: 11.875px;
    font-size: 30px;
  
  }
  
  .hr-break {
    stroke-width: 2px ;
    margin: 10px auto;
  }
  .vertical-2 {
    position: relative;
    margin-top: 10px;
    top: 0;
    left: 25px;
    width: 0;
    height: calc(100vh * 1/4);
    border-left: #D8D8D8 solid 0.5px;
  }
  

  
  // ###################### FOOTER
  
  
  
  .footer a h5{
    font-size: 85%;
    margin-top: 3%;
    margin-bottom: 10px;
  }
  
  .footer a h6{
    font-size: 65%;
    margin-bottom: 3%;
  }
  
  .footer-table a{
    color:#D8D8D8;
    left: 0 !important;
  }
  .footer-table a:hover{
    color: #FF2164;
  }
  
  small{
    font-size: 50%;
    margin: 0 6px;
  }
  
  @media only screen and (min-width:680px){
  
    .footer-table {
      display: none;
    }
  }
  

  //######################### MODAL

  .modal-content{
    background-color: #f7f7f7;
  }

  .modal-footer .btn-outline-success:hover{
    color: #f7f7f7;
  }